.contactUsColor{
  border-color: #00a000;
}
.aboutUsColor{
  border-color: #00008f;
  color: #00008f;
}

.aboutUsColor:hover{
  background-color: #00008f;
}

.aboutUsColor:active{
 background-color: #00008f;
}

.pricing{
  text-align: right;
  color: #00a000;
}

.lists{
  text-align: left;
  color: #00008f;
}

.liShadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.parallelogram {
  width: 100px;
  height: 100px;
  transform: skew(20deg);
  background: #f7a500;
  color: white;
}

.color2{
  background-color: blue;
}

.color3{
  background-color: green;
}

.cartDiv{
  width: auto;
  height: auto;

}

.cartDiv:hover{
  border-style: solid;
  border-width: 1px;
  border-color: green;

}

.correctIconColor{
  color: green;
}
